<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
  <div class="container">
    <h1>Shopping List Check Off</h1>
    <div class="row">
      <div class="col-md-6" ng-controller="ToBuyController as buyList">
        <h2>To Buy:</h2>
        <ul ng-if="!buyList.isEmpty()">
          <li ng-repeat="item in buyList.items">
            Buy {{ item.quantity }} {{ item.name }}
            <button ng-click="buyList.buy($index);" class="btn btn-default">
              <span class="glyphicon glyphicon-ok"></span> Bought</button>
          </li>
        </ul>
        <div class="emptyMessage" ng-if="buyList.isEmpty()">
          Everything is bought!
        </div>
      </div>

      <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtList">
        <h2>Already Bought:</h2>
        <ul ng-if="!boughtList.isEmpty()">
          <li ng-repeat="item in boughtList.items">
            Bought {{ item.quantity }} {{ item.name }}
          </li>
        </ul>
        <div class="emptyMessage" ng-if="boughtList.isEmpty()">
          Nothing bought yet.
        </div>
      </div>
    </div>
  </div>
</body>
</html>
