<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
  <div class="container" ng-controller="NarrowItDownController as menu">
    <div class="row">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input type="text" ng-model="menu.searchTerm" placeholder="Search Term">
      </div>
      <div class="form-group narrow-button">
        <button ng-click="menu.search()" class="btn btn-primary">Narrow It Down For Me!</button>
      </div>
    </div>

    <div class="row">
      <found-items
        id="menu"
        items="menu.found"
        on-remove="menu.removeItem(index)">
        <span class="warning">{{ menu.error }}</span>
      </found-items>
    </div>
  </div>
</body>
</html>
